---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$font-default:	"Helvetica Neue", "Segoe UI", "Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif;
$font-mono:	Monaco, Menlo, Consolas, Courier New, "Heiti SC", STHeiti, "Microsoft Yahei", monospace;

$base-font-family: $font-default;
$base-font-size:   16px;
// 1.5~24px 1.375~22px 1.25~20px 1.125~18px 0.875~14px

$title-font-size:  $base-font-size * 1.5;
$normal-font-size: $base-font-size;
$small-font-size:  $base-font-size * 0.933;
$h-font-size: $base-font-size * 1.375;
$hh-font-size: $base-font-size * 1.25;
$hhh-font-size: $base-font-size * 1.125;

$base-line-height: 1.6;

$spacing-unit:     30px;
$spacing-lr:       20px;

$text-color:       #222;
$background-color: #eee;
$bg-color-t: #b6b6b6;
$bg-color-b: #f6f6f6;
$brand-color:      #1471CB; //#2880d5;
$life-color: #BD3232;
$meta-color: #777;

$code-color:	#eee;
$code-color-bg: #3D3D3D;
$code-color-l:	#BD3232;
$code-color-bgl: #eee;

$bq-color: #666;
$bq-bg-color: #fff;
$bq-border-color: #8FB9E2;

$grey-color:       #888;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
