---
layout: default
---

<div class="home">

    <div class="area">
        <header class="post-header">
        <h2 class="post-title">关于我</h2>
        </header> 
	<article class="post-content">
		{% capture mdMe %}{% include md.fadeer %}{% endcapture %}
		{{ mdMe | markdownify }}
	</article> 
    </div>

    <div class="area">
        <header class="post-header">
        <h2 class="post-title">关于这个博客</h2>
        </header> 
	<article class="post-content">
		{% capture mdBlog %}{% include md.blog %}{% endcapture %}
		{{ mdBlog | markdownify }}
	</article> 
    </div>

    <div class="area">
        <header class="post-header">
        <h2 class="post-title">关于订阅</h2>
        </header> 
	<article class="post-content">
		{% capture mdRss %}{% include md.rss %}{% endcapture %}
		{{ mdRss | markdownify }}
	</article> 
    </div>

</div>
