---
layout: default
---

<div class="home">

{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <div class="area">
    <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
    <ul class="archive">
    {% endif %}

    <li class="apost-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
	<span class="apost-title2">{{ post.daterange }}</span>
        <span class="apost-date">{{ post.date | date: "%b %-d, %Y"}}</span>
    </li>

    {% if forloop.last %}
    </ul>
    </div>
    {% else %}
        {% if this_year != next_year %}
        </div>
        </ul>

        <div class="area">
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
        <ul class="archive">
        {% endif %}
    {% endif %}
{% endfor %}

</div>
