---
layout: default
---

<div class="home">

    {% for post in site.posts limit:5 %}
    <div class="area"> 
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

	<article class="post-content">
           {{ post.content | split:'<!--preview-end-->' | first }}
	   {% if post.content contains '<!--preview-end-->' %}
	      <br><br>
	      <a href="{{ post.url }}">阅读全文...</a>
	   {% endif %}
	  </article>
    </div>
    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
