---
layout: default
---

<div class="home">

    {% for post in site.posts limit:5 %}
    <div class="area">
        <header class="post-header">
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
          <span class="post-title2">{{ post.title2 }}</span>
          </a>
        </h2>

        <p class="post-meta">
        <i class="zmdi zmdi-time"></i><span class="meta-item">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.author %} <i class="zmdi zmdi-account-box"></i><span class="meta-item">{{ post.author }}</span> {% endif %}
        {% if post.meta %} <i class="zmdi zmdi-bookmark"></i><span class="meta-item">{{ post.meta }}</span> {% endif %}
        {% for cat in post.categories %} <i class="zmdi zmdi-local-offer"></i><span class="meta-item">{{ cat }}</span> {% endfor %}
	</p>

        </header> 

	<article class="post-content">
           {{ post.content | split:'<!--preview-end-->' | first }}
	   {% if post.content contains '<!--preview-end-->' %}
	      <br><br>
	      <a href="{{ post.url }}">阅读全文...</a>
	   {% endif %}
	  </article>
    </div>
    {% endfor %}

</div>
