/**
 * Site header
 */
.site-header {
    #border-top: 5px solid $grey-color-dark;
    #border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: fixed;
    z-index: 100;
    width: 100%;
}

.site-title {
    font-size: 150%;
    margin:0 15px;
    line-height: 44px;
    padding-top: 4px;
    /*letter-spacing: -1px;*/
    float: left;

    @media (min-width: 320px) and (max-width: $max-screen) {
        font-size: calc(16px + 8 * ((100vw - 320px) / (800 - 320)));
        margin: 0 calc(5px + 10 * ((100vw - 320px) / (800 - 320)));
    }

    &,
    &:visited {
        color: $grey-color-light;
    }
}

.site-index {
    float: right;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: none;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    //border-top: 1px solid $grey-color-light;
    //padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: $small-font-size;
    color: $grey-color;
    @extend %clearfix;
}

.footer-col {
    text-align: center;
    margin-bottom: $spacing-unit;
}

.footer-info {
    margin: 0;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0 0 0;
}

.page-heading {
    font-size: $normal-font-size;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 87.5%;
    color: $meta-color;
    margin-top: 5px;
}

.meta-item {
    padding: 0 10px 0 4px;
}

.post-link {
    display: block;
    //line-height: $base-line-height;
}

.post-title2 {
    font-size: 70%;
    color: $grey-color-dark;

    @include media-query($on-palm) {
        display: none;
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit / 3;
}

.post-title {
    font-size: 140%;
    //letter-spacing: -1px;
    //line-height: 1;
    margin-top: 5px;
}

.post-content {
    margin-top: $spacing-unit *2 /3;
    margin-bottom: $spacing-unit;
    
    h2 {
        font-size: 120%;
        font-weight: 500;
    }

    h3, h4{
        font-size: 110%;
    }
}

.archive {
    margin-left: 0;

    .apost-title {
        list-style-type: none;
    }

    .apost-title2 {
        font-size: 87.5%;
        color: $grey-color-dark;
        
        @include media-query($on-palm) {
            display: none;
        }
	}

    .apost-date {
        //float: right;
        color: $grey-color;
        min-width: 100px;
        display: inline-block;
    }

    .apost-life {
	color: $life-color;
    }

    .apost-week {
    color: $week-color;
    }

    .apost-icon {
        margin-left: 2px;
        color: $life-color;
    }
}


.mNav {
	background-color: rgba(30,30,30,0.9);
	box-shadow: 0 2px 20px rgba(0,0,0,0.5);
 	margin-top: 10px;
}

.area {
	background-color: #fefefe;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	padding: $spacing-lr $spacing-lr;
	margin-bottom: 20px;
}

.person {
	height:48px;
	width:48px;
	display:inline-block;
	float: left;
	background: url("../resource/logo.png");
	background-size: 48px 48px;
}

.highlight {
    //width: -webkit-calc(100% + (#{$spacing-lr} *3));
    //width:         calc(100% + (#{$spacing-lr} *3));
    width: 100%;
    margin-left: -($spacing-lr *3 /2);
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.anchor {
    display: block; 
    visibility: hidden;
    position: relative; 
    top: -100px; 
}


