---
layout: default
---
<div class="area post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }} <span class="post-title2">{{ page.title2}}</span></h2>
    <p class="post-meta">
	<i class="zmdi zmdi-calendar"></i><span class="meta-item">{{ page.date | date: "%b %-d, %Y" }}</span>
	{% if page.author %} <i class="zmdi zmdi-account-box"></i><span class="meta-item">{{ page.author }}</span> {% endif %}
	{% if page.meta %} <i class="zmdi zmdi-bookmark"></i><span class="meta-item">{{ page.meta }}</span> {% endif %}
	{% for cat in page.categories %} <i class="zmdi zmdi-folder"></i><span class="meta-item">{{ cat }}</span> {% endfor %}
	{% for tag in page.tags %} <i class="zmdi zmdi-label"></i><span class="meta-item">{{ tag }}</span> {% endfor %}
    </p>
  </header>

  <article class="post-content">
    {{ content | replace: '<!--preview-end-->', '<a class="anchor" name="continue"></a>' }}
  </article>

</div>
