---
layout: default
---
<div class="area post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }} <span class="post-title2">{{ page.title2}}</span></h2>
    <p class="post-meta">
	<i class="m-icons">schedule</i>{{ page.date | date: "%b %-d, %Y" }}
	{% if page.author %} <i class="m-icons">face</i>{{ page.author }}{% endif %}
	{% if page.meta %} <i class="m-icons">info_outline</i>{{ page.meta }}{% endif %}
	{% for cat in page.categories %} <i class="m-icons">local_offer</i>{{ cat }}{% endfor %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
